# Changes here will be overwritten by Copier
_commit: 0.1.0-5-g26779ef
_src_path: .
description: petcam
developer_email: chrisjwadsworth@gmail.com
developer_name: Chris Wadsworth
github_docs_url: https://pages.github.com/Wadd0/petcam
github_org: Wadd0
github_repo_url: https://github.com/Wadd0/petcam
import_name: petcam
project_name: petcam
