site_name: petcam
site_description: petcam
repo_url: https://github.com/Wadd0/petcam
repo_name: petcam

nav:
  - Home: index.md

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.instant
  icon:
    repo: fontawesome/solid/code
  palette:
    - scheme: slate
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
    - scheme: default
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode

plugins:
  - search

markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - meta
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.gemoji
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  - toc:
      title: On this page